{% extends 'template/layout.html.twig' %}

{% block body %}
    {% if(Session.user.get_Status == true) %}
    <div class="container">
        <div class="row justify-content-center h-100">
            <div class="col-md-8 my-auto py-5 mx-5">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">New Article</h4>
                    </header>
                    <article class="card-body">
                        <form method="post" action="/OnlineAdvisor/addPost">
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Title</label>
                                    <input type="text" name="title" class="form-control" placeholder="" required>
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Avis</label>
                                <textarea class="form-control" name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div> <!-- form-group end.// -->
                            <div class ="form-inline my-4">
                                <div class ="form-group">
                                    <label for="note">Note</label>
                                    <select class="form-control mx-2 mr-5" name="note" id="note" required>
                                        <option value = 1>1</option>
                                        <option value = 2>2</option>
                                        <option value = 3>3</option>
                                        <option value = 4>4</option>
                                        <option value = 5>5</option>
                                    </select>
                                    <label>Category</label>
                                    <input class="form-control mx-2" type="text" name="category" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" name="submit" class="btn btn-primary d-flex mx-auto"> Add </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article> <!-- card-body end .// -->
                </div> <!-- card.// -->
            </div> <!-- col.//-->
        </div> <!-- row.//-->
    </div> <!-- cont.//-->
    {% endif %}
{% endblock %}